.summary-title {
    padding-right: 90px;
    font-size: 24px;
    font-weight: 700;
}

.summary-authors {
    margin-top: 7px;
    margin-bottom: 14px;
    font-size: 16px;
    color: #424242;
    padding-right: 90px;
}

.summary-pills .label {
    display: inline;
    margin-right: 3px;
}

 .summary-pills {
    margin-bottom: 14px;
}

.study-summary-page .widget.study-abstract .widget-body p {
    font-size: 12px;
    margin: 5px 0;
}

.study-summary-page .widget.study-abstract .widget-body .well {
    margin-top: 24px;
    margin-bottom: 0;
}

.well {
    margin-top: 0;
    margin-bottom: 14px
}

.well .well-title {
    font-size: 18px;
    margin-bottom: 14px
}

.well .well-subtitle {
    max-width: 100%
}

.well .well-footer {
    font-size: 12px;
    margin-top: 14px
}

.well.well-table {
    padding: 0
}

.well.well-table .well-text {
    padding: 14px
}

.well.well-table .well-title {
    margin: 0;
    padding: 7px 14px;
    background-color: rgba(215,207,232,.5)
}

.well.well-table .dynamic-table {
    border-top: 1px solid #e3e3e3
}

.well.well-table .dynamic-table .row-heading,.well.well-table .dynamic-table .table-corner {
    background-color: #f5f5f5
}

.well.well-table .well-footer {
    margin: 0;
    padding: 7px 14px;
    white-space: pre-wrap;
    background-color: #ebebeb
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.dynamic-table {
    width: 100%;
    overflow: hidden;
}

.dynamic-table .table-body {
    bottom: -4px;
    right: 0;
    top: 36px;
    left: 250px;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    z-index: 1;
    background-color: transparent;
}

.dynamic-table .col-heading, .dynamic-table .row-heading, .dynamic-table .table-body {
    position: absolute;
    display: block;
    overflow: hidden;
}

*, a {
    outline: 0!important;
}

.datatable-div .dataTables_wrapper .DTTT_dropdown.dropdown-menu li, .dynamic-table {
    position: relative;
}

.dynamic-table.sub-dynamic-table .row-heading {
    width: 120px
}

.dynamic-table.sub-dynamic-table .row-heading .row-head {
    color: #9d8ac7
}

.dynamic-table.sub-dynamic-table .table-corner {
    background-color: #b7a9d6;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #c8bee0;
    width: 120px
}

.dynamic-table.sub-dynamic-table .col-heading .col-head {
    color: #FFF;
    background-color: #b7a9d6;
    border-top: 1px solid;
    border-color: #c8bee0
}

.dynamic-table.sub-dynamic-table .body-cell,.dynamic-table.sub-dynamic-table .col-group,.dynamic-table.sub-dynamic-table .col-head,.dynamic-table.sub-dynamic-table .row-group,.dynamic-table.sub-dynamic-table .row-head {
    min-width: 100px
}

.dynamic-table.sub-dynamic-table .left-pan:active .arrow,.dynamic-table.sub-dynamic-table .right-pan:active .arrow {
    color: #9d8ac7
}

.dynamic-table.sub-dynamic-table.row-striped.col-grouped .row-heading .row-head:nth-child(even) {
    background-color: rgba(157,138,199,.1);
    color: #8972bb
}

.dynamic-table.sub-dynamic-table.row-striped.col-grouped .table-body .col-group>div:nth-child(even) {
    background-color: rgba(157,138,199,.1)
}

.accordion .panel-default .panel-heading .panel-title a .filter-status,.dynamic-table .row-heading .row-head.unbound-name {
    font-style: italic
}

.dynamic-table .body-cell, .dynamic-table .col-head, .dynamic-table .row-head {
    min-width: 140px;
    min-height: 30px;
    padding: 9px;
    white-space: normal;
    -o-transition: background-color,color .2s linear;
    -ms-transition: background-color,color .2s linear;
}


.dynamic-table .row-heading .row-head {
    vertical-align: middle;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dynamic-table .row-group, .dynamic-table .row-head {
    position: relative;
    display: block;
    width: 100%;
    min-height: 30px;
}

.dynamic-table .row-heading {
    bottom: 0;
    width: 250px;
    padding-top: 36px;
    z-index: 10;
    color: #3695d5;
    background-color: #f9f9f9;
    text-align: right;
    border-right: 1px solid #e5e5e5;
}

.dynamic-table .row-heading .row-head {
    vertical-align: middle;
    padding-right: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dynamic-table.col-striped.col-grouped .table-body>.col-group:nth-child(even), .dynamic-table.row-striped.row-grouped .table-body>.row-group:nth-child(even) {
    background-color: rgba(80,148,224,.1);
}

.dynamic-table.row-striped.row-grouped .row-heading>.row-head:nth-child(even) {
    background-color: rgba(80,148,224,.1);
    color: #2882bf;
}

.dynamic-table .col-heading, .dynamic-table .row-heading {
    top: 0;
    font-size: 15px;
    font-weight: 700;
}
.dynamic-table .table-body {
    bottom: -4px;
    right: 0;
    top: 36px;
    left: 250px;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    z-index: 1;
    background-color: transparent;
}

.dynamic-table.wide-cols .col-group, .dynamic-table.wide-cols .col-head {
    max-width: 50%;
}

.dynamic-table .col-heading .col-head {
    border-right: 1px solid #60abde;
    color: #FFF;
    background-color: #3695d5;
    vertical-align: middle;
    -webkit-transition: color,background-color .2s linear;
    -moz-transition: color,background-color .2s linear;
    -o-transition: color,background-color .2s linear;
    -ms-transition: color,background-color .2s linear;
    transition: color,background-color .2s linear;
}

.dynamic-table .col-group, .dynamic-table .col-head {
    position: relative;
    display: inline-block;
    min-width: 140px;
    max-width: 25%;
    vertical-align: top;
}


.dynamic-table .col-group, .dynamic-table .row-group {
    border-right: 1px solid #E5E5E5;
    -o-transition: background-color,color .2s linear;
    -ms-transition: background-color,color .2s linear;
}

.dynamic-table.row-striped.col-grouped .table-body .col-group>div:nth-child(even) {
    background-color: rgba(80,148,224,.1);
}

.dynamic-table.row-striped.col-grouped .row-heading .row-head:nth-child(even) {
    background-color: rgba(80,148,224,.1);
    color: #2882bf;
}

.dynamic-table .table-corner, .dynamic-table.sub-dynamic-table {
    border-bottom: 1px solid #e5e5e5;
}


.dynamic-table .body-cell, .dynamic-table .col-group, .dynamic-table .col-head, .dynamic-table .row-group, .dynamic-table .row-head {
    -webkit-transition: background-color,color .2s linear;
    transition: background-color,color .2s linear;
    -moz-transition: background-color,color .2s linear;
}

.dynamic-table .col-heading {
    right: 0;
    left: 250px;
    white-space: nowrap;
    z-index: 10;
}

.dynamic-table .col-head {
    height: 100%;
    overflow: hidden;
}


.dynamic-table .table-corner {
    top: 0;
    left: 0;
    width: 250px;
    height: 36px;
    position: absolute;
    display: block;
    overflow: visible;
    z-index: 20;
    background-color: #f9f9f9;
}

.dynamic-table .col-group .body-cell, .dynamic-table .col-head .body-cell {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}


.dynamic-table .body-cell {
    background-color: transparent;
    padding-right: 18px;
    padding-left: 18px;
    position: relative;
    color: #000;
    overflow: hidden;
}


.dynamic-table .body-cell>.fa {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
    cursor: pointer;
}



.dynamic-table.row-head-grouping .table-corner .interval-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 101px;
    height: 100%;
    padding-top: 20px;
    border-left: 1px solid #e5e5e5;
    color: #CCC;
    text-align: center;
}

.comparison-table.col-select .col-head:not(.selectable) {
    background-color: #777;
    border-right-color: #848484;
}

.dynamic-table.row-head-grouping .col-heading, .dynamic-table.row-head-grouping .left-pan, .dynamic-table.row-head-grouping .table-body {
    left: 350px;
}

.well.well-table .dynamic-table .row-heading, .well.well-table .dynamic-table .table-corner {
    background-color: #f5f5f5;
}

/*.comparison-table.col-select .comparison-charts, .comparison-table.col-select .comparison-results, .comparison-table.col-select .left-selection, .comparison-table.col-select .right-selection {*/
    /*display: inline;*/
/*}*/


.dynamic-table .table-corner {
    top: 0;
    left: 0;
    width: 250px;
    height: 36px;
    position: absolute;
    display: block;
    overflow: visible;
    z-index: 20;
    background-color: #f9f9f9;
}

.dynamic-table.row-head-grouping.row-striped.col-grouped .row-heading .row-head-group-odd.row-head-label, .dynamic-table.row-head-grouping.row-striped.row-grouped .row-heading .row-head-group-odd.row-head-label {
    background-color: rgba(249,249,249,.5);
}

.dynamic-table.row-head-grouping .row-heading .row-head .row-head-col.row-head-label {
    width: 249px;
    background-color: rgba(54,149,213,.12);
    padding-right: 18px;
}

.dynamic-table.row-head-grouping .row-heading .row-head .row-head-col {
    position: relative;
    display: inline-block;
    padding: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

.accordion .panel-default .panel-heading .panel-title a .filter-status, .dynamic-table .row-heading .row-head.unbound-name {
    font-style: italic;
}

.dynamic-table .row-heading {
    bottom: 0;
    width: 250px;
    padding-top: 36px;
    z-index: 10;
    color: #3695d5;
    background-color: #f9f9f9;
    text-align: right;
    border-right: 1px solid #e5e5e5;
}

.dynamic-table.row-head-grouping .row-heading {
    width: 350px;
}

.dynamic-table.row-head-grouping .table-corner {
    width: 350px;
}

.dynamic-table.row-head-grouping .row-heading .row-head .row-head-col.row-head-interval {
    width: 100px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    letter-spacing: -1px;
}

.comparison-table.col-select .col-head:not(.selectable) .col-icons {
    color: #999;
}

.dynamic-table .col-heading .col-head .col-icons {
    position: absolute;
    font-size: 1.4em;
    right: 11px;
    bottom: 5px;
    color: #9fcdeb;
}

.dynamic-table .left-pan, .dynamic-table .right-pan {
    position: absolute;
    overflow: visible;
    width: 45px;
    top: 36px;
    bottom: 0;
    z-index: 1;
    -ms-user-select: none;
}

.dynamic-table.row-head-grouping .row-heading .row-head {
    padding: 0;
}

